<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.glitch.global/37089a58-93a4-4b6a-999a-4264d8fa0dd1/hello6.png?v=1695487475094" type="icon-x/image">
    <title>signin_after</title>
    <style>
        body{
            display:flex;
            flex-direction: column;        
            align-items: center;
            justify-content: space-evenly;
            background-image: url("https://cdn.glitch.global/e37934ec-785c-47f1-8d21-d8f9dbaa6226/wallpp1.jpg?v=1695231317546");
            background-repeat: no-repeat;
            background-size: 100vw 100vh;
        
  
        }
        .top{
            display:flex;
            flex-direction: column;        
            align-items:center;
            justify-content: center;
            opacity: 0.9;
            font-weight: bold;
            color: rgb(255, 255, 255);
            background-color: rgba(64, 64, 64, 0.87);
            /* border:2px solid black; */
            width: 450px;
            height: 500px;
            border-radius: 10%;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 250px;
            height: 250px;
            /* border: 2px solid black; */
            opacity: 0.8;
            font-weight: bold;
            color: black;
            border-radius: 10%;
            background-color: rgba(255, 255, 255, 0.87);
            
        }
        p{
            justify-content: space-around;
        }
        h4{
            font-size: larger;
            font-weight:bolder;
        }
        input{
            width: 230px;
            height: 23px;
            border: 2px solid black;
            border-radius: 20px;
        }
        .logo_body img{
            height: 120px;
            width:120px;
            border-radius: 50%;
            top:11vh;
            right: 8px;
            position: fixed;
            
        }
    </style>
</head>
<body>
    <div class="top">
        <div>
            <h1>Failed...!!!</h1>
    
            <p>Looks like you don't have an account . Please SignUp to Login to your account .</p>
            <form action="/login_aftersubmit" method="GET">
                <button>Submit</button>
            </form>
        </div>
    </div>
    <p class="logo_body"><img src="https://cdn.glitch.global/489ab3e0-0c44-419a-8e60-95d6a5c28b81/logo5.jpg?v=1695490454908" alt=""  >
</body>
</html>