<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://cdn.glitch.global/37089a58-93a4-4b6a-999a-4264d8fa0dd1/hello6.png?v=1695487475094" type="icon-x/image">
        <title>Organ Donation</title>
        <style>
            nav{
            background-color: black; 
            width:100vw;
            height: 10vh;
            top:0px;
            left:0px;
            position: fixed;
            
        }
        .options{
            color: white;
            position: absolute;
            right: 0px;
            top:0px;
            width:50vw;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        
        }
        .options li,.dona-btn a{
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bolder;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

        }
        .options li a:hover, .dona-btn  a:hover {
            color: black;
            background-color: white;
            height: 9vh;
            border-radius: 10%;
            transition: 1s;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
              
        }
        nav li{
            list-style: none;
        }
        nav ul li a{
            font-size: 20px;
            text-decoration: none;
            color: white;
        }
        .name{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            font-family: Lucida Calligraphy;
            font-size: 30px;
            
        }
        .name1{
            color: red;

        }
        .name2{
            color: white;
        }
        .name:hover{
            transition: 1s;
            font-size: 35px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            
        
        }
        
        @media screen and (max-width:600px){
            nav{
                width:40vw;
                height: 100vh;
                left:0px;
                top:0px;
                
                position: fixed;
            }
            nav ul{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: static;

            }
            .name{
                background-color: rgb(0, 0, 0);
                width: 100vw;
                height: 10vh;
                left: 0px;
                top:0px;
                position:absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding-left: 4vw;
                
            }
            .name:hover{
                transition: 1s;
                font-size: 35px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
            
            }
            .options {
                flex-direction: column;
                left:0px;
                top:0px;
                width:100%;
                height: 55vh;
                margin-top: 7.5vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                
            }
            .dona-btn {
                width:100vw;
            }
            .options li {
                flex-direction: column;
                width: 100%;  

            }
            .options li a:hover,.dona-btn a:hover{
                width:100%;
                border-radius: 0%;
                
            }
            .drop{
                width: 100%;
                
            }
            .donation-content {
                display: none;
                position: absolute;
                background-color: #686363;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                margin-top: 0px;
                margin-right: -60px;
            
            }
            
        }
        .dona-btn{
            width: 100%;
            background-color: rgb(0, 0, 0);
           
        }
        .dona-btn a{
            width: 100%;
            height: 100%;
            color: rgb(255, 255, 255);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bolder;
            height: 10vh;
            background-color: rgb(0, 0, 0);
            font-size: 20px;
            text-decoration: none;
                
        }
       .drop .donation-content {
            font-size: 16px;  
            border: none;
            outline: none;
           
        }    
        .donation-content {
            display: none;
            position: absolute;
            background-color: #686363;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-top: -20px;
            margin-left: 30px;

        }
        .donation-content a {
            float: none;
            background-color: rgb(71, 67, 67);
            color: rgb(255, 255, 255);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bolder;
            font-size: 19px;
            padding: 12px 16px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
        }  
        
        .donation-content a:hover{
            color: black;
            background-color: rgba(88, 81, 81, 0);
            border-radius: 10%;
            transition: 1s;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }
        .drop:hover .donation-content{
            display: block;
            
        } 
        .logod{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center; 
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid white;
                       
        }




            body{
                padding:20px;
            }
            .logo{
                height: 80px;
                width: 80px;
                border: 2px solid black;
                border-radius: 50%;
                float: right;    
            }
            .except_logo{
                float: left;
                
                
            }
            h1{
                color:blue;
                
            }
            #img1{
                height: 300px;
                width: 400px;
                float: left;
                margin: 40px;
                border: 2px solid black;
                box-shadow: 3px 3px 30px black,3px 3px 30px black;
            }
            #img2{
                float: right;
                height: 300px;
                width:400px;
                
                border: 2px solid black;
                box-shadow: 3px 0px 30px rgb(0, 0, 0),0px 3px 30px rgb(0, 0, 0);
                margin:35px 10px 10px 10px;
            }
            .quote1{
                color: red;
                font-size: 50px;
                align-items:center;
                float:right;
            }
            .logo_body img{
                height: 100px;
                width:100px;
                border-radius: 50%;
                top:11vh;
                right: 8px;
                position: fixed;
                
            }
        </style>
    </head>
    <body>
        <div class="top">
            <nav>
                <ul>
                    <li class="name"><span class="name1">HELPING</span> <span class="name2">HANDS</span><span class="name1">...</span></li>
                    <div class="options">
                        <li><a class="active" href="/helping_hands" target="_self" title="">Home</a></li>
                        <li><a class="active" href="/about" target="_self" title="Know more About us">About</a></li>
                        <div class="drop">
                            <p class="dona-btn" ><a class="active" class="dona-btn-a" href="/types_of_Donations" target="_self" title="Different TYPES of Donations">Types</a></p>
                            <div class="donation-content">
                                <a href="/food_donation"><img src="https://cdn.glitch.global/de4cb439-aafa-4907-8ad2-0172a98479de/logo_food_donation.jpg?v=1694599094278" class="logod">Food Donation</a>
                                <a href="/cloth_donation"><img src="https://cdn.glitch.global/de4cb439-aafa-4907-8ad2-0172a98479de/logo_cloth_donation.webp?v=1694598842130" class="logod">Cloth Donation</a>
                                <a href="/organ_donation"><img src="https://cdn.glitch.global/de4cb439-aafa-4907-8ad2-0172a98479de/logo_organ_donation.jpg?v=1694599088134" class="logod">Organ Donation</a>
                                <a href="/blood_donation"><img src="https://cdn.glitch.global/de4cb439-aafa-4907-8ad2-0172a98479de/logo_blood_donation.jpg?v=1694596273594" class="logod">Blood Donation</a>
                                <a href="/plasma_donation" ><img src="https://cdn.glitch.global/de4cb439-aafa-4907-8ad2-0172a98479de/logo_plasma_donation.jpg?v=1694599081633" class="logod">Plasma Donation</a>
                                <a href="/hair_donation"><img src="https://cdn.glitch.global/37089a58-93a4-4b6a-999a-4264d8fa0dd1/logo_hair_donation2.jpg?v=1695488563831" class="logod">Hair Donation</a>
                            </div>
                        </div>
                        <li><a class="active" href="/donate" target="_self" title="">Donate</a></li>
                        <li><a class="active" href="/contact"target="_self" title="In order to Contact us">Contact</a></li>
                    </div>
                </ul>
            </nav>
        </div>
        <div class="mid"></div>

        
        <!-- <img src="https://cdn.glitch.global/de4cb439-aafa-4907-8ad2-0172a98479de/logo_organ_donation.jpg?v=1694599088134" class ="logo"> -->
        <p id="except_logo">
        <h1 class="quote1">Donate Organs and Save Life !!!..</h1>
            <img src="https://cdn.glitch.global/de4cb439-aafa-4907-8ad2-0172a98479de/organ_donation1.jpg?v=1694599246613" id="img1">
            <br><br><br><br><br><br>
            <h1>What is Organ Donation?</h1>
Organ donation is the process of removing an organ 
 from one person and placing it in another person through surgery. 
 Many organs can be donated, which include the liver, kidney, pancreas, and heart.

<h1>What organs and tissues can be transplanted?</h1>
<h3>Organs and tissues which can be transplanted include:</h3>

<p>
1. Liver<br>
2. Kidney<br>
3. Pancreas<br>
4. Heart<br>
5. Lungs<br>
6. Intestine<br>
7. Cornea<br>
8. Middle ear<br>
9. Skin<br>
10. Bone
</p> 

<h1>What are the Different Types of Organ Donation?</h1>

In organ donation, a person pledges that after death certain or all organs from the body can be used for transplantation to help ill patients get a new life. People of all ages can donate organs, even people in their 80s have donated organs in the past. 

<h4>Living Donation :</h4> In living donation, a living person donates an organ for transplantation to another person. A living donor can be a family member or any relative.

<h4>Deceased Cadaver Donation : </h4>For this, the patient has to register in a hospital that does transplants. The patient will be put on a waitlist, and when the organ from an appropriate deceased donor is available, the patient will be informed.

<h4>Lack of Organ Donation In India :</h4>

Around 5 lakh people die in India every year due to unavailability of organs. Nearly 2.2 lakh people await kidney transplant, of which around 15,000 end up receiving a kidney. Around 1 lakh people die of liver diseases every year in India, and only 1000 get a liver transplant.
<img src="https://cdn.glitch.global/de4cb439-aafa-4907-8ad2-0172a98479de/organ_donation2.jpg?v=1694599253157" id="img2">
<h1>Why Organ Donations Lags in India?</h1>

<h3>Here are five reasons why organ donation lags in India:</h3>
<h4>Lack of family consent : </h4>
When a person is brain dead it is a difficulty for the family to accept the death as the heart continues to beat initially. But brain death is irreversible even if the organs continue to function, which is why doctors ask the family of the deceased to donate the organs and save someone’s life.
<h4>Superstitions and Misconceptions  : </h4>
There are myths like “if I donate my organs I may be born without a kidney or liver in my next birth”, “Organ donation is expensive” which prevent people from pledging their organs. 

Some people don’t donate organs as they will have to bear the cost until the organ is harvested in another person’s body.

<h4>Lack of education and awareness : </h4>

Lack of awareness, lack of proper education to the relatives of a brain dead patient, organ donor cards, the process of organ donation makes it difficult for the patient and patient family to donate organs. Even some of the doctors are also not fully aware of the process of organ donation and things related to it which makes it difficult for the family of a deceased person to make a proper decision.

<h4>Lack of Brain Death Declaration : </h4>

In many hospitals, doctors lack knowledge about brain death and keep the patient on a ventilator for as long as it is possible. Many cases of brain death occur in government hospitals where brain death declaration is low rather negligible.
<h4>Lack of Organ transplant and retrieval centres : </h4>


Not all hospitals in India can carry out the process of organ transplantation and retrieval. In India, only 301 hospitals are equipped to handle the process; only 250 have registered with NOTTO. In India, there are only 5 Regional Organ, and Tissue Transplant Organisation (ROTTO) and 6 State organ and Tissue Transplant Organisation (SOTTO) are in the proposal state.
        </p>
        <div >
            <p class="logo_body"><img src="https://cdn.glitch.global/489ab3e0-0c44-419a-8e60-95d6a5c28b81/logo5.jpg?v=1695490454908" alt=""  >
        </div>
    </body>
</html>