<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random People</title>
    <style>
        div{
            width: 200px;
            height: 200px;
            border: 2px solid black;
        }

    </style>
</head>
<body>
    <form  action="/index" method="post">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <label for="" name></label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="" name></label>
            <input type="text" name="gender">
        </div>
        
        

    </form>
</body>
</html>