<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="icon" href="https://cdn.glitch.global/37089a58-93a4-4b6a-999a-4264d8fa0dd1/hello6.png?v=1695487475094" type="icon-x/image">
    <title>Document</title>
    <style>

        body{
            background-image: url("https://cdn.glitch.global/489ab3e0-0c44-419a-8e60-95d6a5c28b81/sign_log2.jpg?v=1695900456968");
            background-repeat: no-repeat;
            background-size:100vw 100vh;
            
        }
        .bottom2{
            position:fixed;
            top:0px;
            right: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 100px;
            width: 200px;
            /* border: 2px solid rgb(255, 255, 255); */
        }

        a{
            background-color: white;
            color:black;
            text-decoration: none;
            width: 70px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 20px;
        }
        #ll{
            width: 60px;
            height: 60px;
        }
    </style>
</head>
<body>
    <div class="bottom2">
            
        <a href="http://localhost:9000/signin">Signin</a>
        <a href="http://localhost:9000/login">Login</a>
    </div>

    <p class="name"><span><img id= "ll" src="https://cdn.glitch.global/37089a58-93a4-4b6a-999a-4264d8fa0dd1/hello6.png?v=1695487475094" alt=""></span><span class="name1">HELPING</span> <span class="name2">HANDS</span><span class="name1">...</span></p>
 


</body>
</html>